.header-cupon {background:#620CD1;padding:15px 0;}
.header-cupon h3 {color:#fff;font-weight:500;margin: 0 15px;font-size: 24px;}

.portada-cupon {min-height:550px;background-size:cover !important;background-position:center !important;position:relative;}

.portada-cupon .circle-logo {background: #fff;width: 150px;border-radius: 100%;height: 150px;display: flex;align-items: center;justify-content: center;border: 7px #620CD1 solid;padding: 20px;}
.portada-cupon .info h3 {color: #fff;font-size: 34px;margin: 0;}
.portada-cupon .info {margin-left:20px;}

.portada-cupon .punt .content-h {background: #620CD1;width: 30px;height: 31px;display: flex;align-items: center;justify-content: center;border-radius: 100%;padding: 7px;}
.portada-cupon .punt h4 {margin: 0 10px;color: #fff;font-size: 21px;}

.portada-cupon .cant-resenia {margin-left:20px;}
.portada-cupon .cant-resenia h6 {color: #fff;font-size: 17px;margin: 0 0px 5px;}

.cupon-int {padding:80px 0;}

.cupon-int .content-img-c {position:relative;min-height:280px;background-size:cover !important;background-position:center !important;}
.cupon-int .content-img-c .icon-punt .icon-corazon {background: #620CD1;border-radius: 100%;width: 25px;text-align: center;display: flex;align-items: center;justify-content: center;height: 25px;padding: 5px;}
.cupon-int .content-img-c .icon-punt p {margin: 0;font-size: 14px;color: #620CD1;font-weight: bold;}
.cupon-int .content-img-c .icon-punt {position: absolute;top: 5px;left: 5px;text-align: center;}
.cupon-int .content-img-c .content-share-right {position:absolute;right:0;}
.cupon-int .content-img-c .content-share-right .icon-share {background: #620CD1;width: 30px;text-align: center;height: 30px;display: flex;align-items: center;justify-content: center;}
.cupon-int .content-img-c .content-share-right .icon-map {background: #FF515E;width: 30px;text-align: center;height: 30px;display: flex;align-items: center;justify-content: center;}

.cupon-int .content-desc {padding:30px;background:#7304D6;}
.cupon-int .content-desc p {margin-right: auto;margin-bottom: 0;color: #D5D5D5;font-size: 17px;font-weight: 500;}
.cupon-int .content-desc h4 {margin-left: auto;color: #fff;font-size: 55px;margin-bottom: 0;font-weight: bold;}

.cupon-int .content-info-cupon {background: #F4F6F8;padding: 20px;}
.cupon-int .content-info-cupon .circle-logo {background: #fff;width: 110px;border-radius: 100%;height: 110px;display: flex;align-items: center;justify-content: center;border: 4px #620CD1 solid;padding: 15px;}
.cupon-int .content-info-cupon .info h3 {color: #620CD1;font-size: 26px;font-weight: bold;line-height: normal;margin-left: 20px;margin-bottom: 0;}

.cupon-int .content-info-cupon p {color: #676B73;font-weight: 500;margin: 20px 10px;font-size: 15px;}

.cupon-int .content-info-cupon .fecha-ven .dia-fecha {margin: 0 1px;background: #DBDDF0;color: #fff;width: 21px;height: 21px;border-radius: 100%;font-size:11px;display: inline-flex;justify-content: center;align-items: center;font-weight: bold;}
.cupon-int .content-info-cupon .fecha-ven .dia-fecha.active {background:#620CD1;}
.cupon-int .content-info-cupon .fecha-ven p {font-size: 18px;margin: 5px 5px 0;font-weight: 600;}

.content-form {background:#7304D6;padding:35px;position:relative;}
.content-form .head p {color: #fff;max-width: 75%;font-weight: 500;margin: 0;line-height: 1.2;font-size: 18px;}
.content-form .head img {max-width: 95px;position: absolute;right: 20px;top: -45px;}

.content-form .form-cupon {margin-top:35px;}
.content-form .form-cupon input:focus {border:1px #fff solid;outline:none;}
.content-form .form-cupon input {width: 100%;border: 1px #fff solid;background: transparent;padding: 10px 15px;color: #fff;margin-bottom: 10px;font-size: 13px;}
.content-form .form-cupon input[type="submit"] {text-align: center;font-weight: bold;font-size: 21px;background: rgb(255,153,1);background: linear-gradient(270deg, rgba(255,153,1,1) 0%, rgba(255,0,200,1) 100%);border: none;padding: 5px 0;}

.cupon-container {box-shadow: 3px 4px 4px 1px rgba(0, 0, 0, 0.15);padding: 7px 21px;}

.content-form ::-webkit-input-placeholder { /* Edge */
  color:#fff;
}

.content-form :-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#fff;
}

.content-form ::placeholder {
  color:#fff;
}


#destacadosCupones .owl-stage-outer {position:relative;z-index:2;}
#destacadosCupones .owl-nav {position: absolute;top: 0;bottom: 0;display: flex;align-items: center;justify-content: center;left: 0;right: 0;}
#destacadosCupones .owl-prev {z-index:3;background: #FF9901;padding: 0;border-radius: 100%;position: relative;left: -15px;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.04);}
#destacadosCupones .owl-next {z-index:3;margin-left:auto;background: #FF9901;padding: 0;border-radius: 100%;position: relative;right: -15px;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;box-shadow: 0px 0px 1px 3px rgba(0, 0, 0, 0.04);}

#destacadosCupones .fa-caret-left {background:url('../img/arrow_slide.png');font-size: 0;width: 12px;height: 16px;background-size: contain;background-repeat: no-repeat;}
#destacadosCupones .fa-caret-right {transform:rotate(180deg);background:url('../img/arrow_slide.png');font-size: 0;width: 12px;height: 16px;background-size: contain;background-repeat: no-repeat;}

.box-cupon {background:#fff;padding:10px;display:inline-block;width:100%;}
.box-cupon h5 {margin: 0;font-size: 11px;font-weight: bold;color:#9FA5B7;}
.size-icon-dest {display:inline-block;width:50px;height:40px;background-position:center !important;background-repeat:no-repeat !important;background-size:contain !important;}


.categorias {padding:100px 0;background:#F4F3F8;}

.menu-marca {background:#F4F6F8;}
.menu-marca ul {margin:0;}
.menu-marca ul li {display:inline-block;margin:0 20px;padding: 30px 0 23px;border-bottom: 7px transparent solid;}
.menu-marca ul li a {color: #405173;font-weight: 500;font-size: 20px;}
.menu-marca ul li.active {border-color:#620CD1;}
.menu-marca ul li.active a {color:#620CD1;font-weight:bold;}

.borde-botomm {background: rgb(255,153,1);background: linear-gradient(270deg, rgba(255,153,1,1) 0%, rgba(255,0,200,1) 100%);width: 100%;height: 10px;position: absolute;bottom: 0;z-index: 0;}
