html, body {margin:0;padding:0;scroll-behavior: smooth;}
body{ font-family: 'Raleway', sans-serif;}


@font-face{
    font-family:Matter-Bold;
    src: url(../fonts/Matter-Bold.otf) format('opentype');
}

@font-face{
    font-family:Matter-SemiBold;
    src: url(../fonts/Matter-SemiBold.otf) format('opentype');
}

@font-face{
    font-family:Matter-Medium;
    src: url(../fonts/Matter-Medium.otf) format('opentype');
}

@font-face{
    font-family:Matter-Regular;
    src: url(../fonts/Matter-Regular.otf) format('opentype');
}

a {color: #fff;}

sub {
    bottom: -0em;
    font-size: 50%;
    left: 0px;
}

.header-home {background-position:center !important;background-size:cover !important;min-height: 90vh;position:relative;}
.header-home .content-header {margin-top: auto;background: rgb(0 24 113 / 50%);padding: 50px;}
.header-home .content-header h3 {color: #fff;font-family: Matter-Bold;font-size: 60px;margin: 0}
.header-home .content-header .btn-header {background: #5369e0;text-align: center;font-size: 16px;color: #fff;font-family: Matter-Bold;display: inline-block;padding:10px 20px;border-radius:5px;}
.header-home .content-header p {text-align: right;color: #fff;font-family: Matter-Bold;font-size: 17px;margin: 0;}
.header-home .content-header h6 {text-align: right;font-size: 46px;color: #5e78ff;font-family: Matter-Bold;margin: 0;}

.absolute-connecta-logo {position: absolute;right: 0;top: 25px;text-align: right;left:0px;}
.absolute-connecta-logo img {max-width:350px;}

@media screen and (max-width:767px) {
    
}							